.change-color:hover{
  color: #fff;
  background-color: bisque;
}

.button-row{
  background-image:url(../../../assets/shazam.JPG);
  width: 125px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
mat-card-title
{
  cursor: pointer;
}

mat-card-title:hover:after,
mat-card-title.fav:after{
  content: ' \2605';
  color: rgb(255, 203, 0);
}

mat-card-title.fav:hover:after{
  content: ' \2606';
  background-color:coral
}
